################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwedbankCore/v15
/Example/bin/Debug/netcoreapp2.0
/Example/obj
/SwedbankCore/bin/Debug/netcoreapp2.0
/SwedbankCore/obj
